<div class="navbar-fixed">
    <nav  class="white">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo blue-text text-darken-4">Ekberg Home Solutions</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#" class="blue-text text-darken-1">Home</a></li>
          <li><a href="#" class="blue-text text-darken-1">About</a></li>
        </ul>
        <!-- <a id="hamburger" class="btn btn-floating blue darken-2 hide-on-med-and-above show-on-med-and-down right">
          <i class="material-icons">menu</i>
        </a> -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
          </ul>
      </div>
    </nav>
</div>
