<div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white blue-text text-darken-1">Contact</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="black-text text-lighten-3" href="https://www.facebook.com/groups/1489771501076328/">Travel Club on Facebook</a></li>
          <!-- <li><a class="black-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Link 3</a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Eckberg Home Solutions
  </div>
