<div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="blue-text text-darken-1">Contact</h5>
        <ul class="contact">
          <li class="vertical-align"><i class="material-icons vertical-align">contact_phone</i>  720-252-6908</li>
          <li class="vertical-align"><i class="material-icons vertical-align">email</i>  enathan68@comcast.com</li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="black-text text-lighten-3" href="https://www.facebook.com/groups/1489771501076328/">Travel Club on Facebook</a></li>
          <li><a class="black-text text-lighten-3" href="http://www.wgtravelclub.com">Westgate Rewards Travel Club</a></li>
          <li><a class="black-text text-lighten-3" href="https://www.organogold.com/en/">Organo Gold Coffee</a></li>
          <li><a class="black-text text-lighten-3" href="http://www.amway.com/">Amway</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright white">
      <div class="container blue-text text-darken-1">
      © 2014 Eckberg Home Solutions
      </div>
    </div>
</div>
