<div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="grey-text text-darken-4">Contact</h5>
        <ul class="contact">
          <li class=""><i class="material-icons vertical-align">contact_phone</i>  720-380-9569</li>
          <li class=""><i class="material-icons vertical-align">email</i>  enathan68@comcast.com</li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="black-text text-lighten-3" href="http://www.amway.com/">AMWAY</a></li>
          <li><a class="black-text text-lighten-3" href="https://www.organogold.com/en/">ORGANOGOLD COFFEE</a></li>
          <li><a class="black-text text-lighten-3" href="https://www.facebook.com/groups/1489771501076328/">TRAVEL CLUB</a></li>
          <li><a class="black-text text-lighten-3" href="http://www.wgtravelclub.com">WESTGATE REWARDS TRAVEL CLUB</a></li>
        </ul>
      </div>
    </div>
    <!-- <div class="footer-copyright white">
      <div class="grey-text text-darken-4">
      © 2014 Ekberg Home Solutions
      </div>
    </div> -->
</div>
