<div class="row">
  <div class="message-panel center-align col s12 offset-m2 m8">
    <div class="card-panel white">
      <a type="button" (click)="onPrevAnnouncement()"><i class="material-icons left">chevron_left</i></a>
        <ng-template [ngIf]="announcement">
          <span class="blue-text">
            <h5 class="grey-text text-darken-4">Announcements:</h5>
              <h6 >{{announcement.startDate | date:'mediumDate'}} - {{announcement.endDate | date:'mediumDate'}}</h6>
              <p class="truncate message">{{announcement.message}}</p>
          </span>
        </ng-template>
      <a type="button" (click)="onNextAnnouncement($event)"><i class="material-icons right">chevron_right</i></a>
    </div>
  </div>
</div>