.announcements {
    margin: 16px 16px 0 16px;
    height: 32vh!important;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.message-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* .card-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

.card-panel-header {
    align-self: flex-start;
}

.material-icons {
    font-size: 60px;
    color: #424242;
}

.material-icons:hover {
    cursor: pointer;
    color: #42a5f5;
}

.message {
    max-width: 100%;
    overflow-wrap: break-word;
}

.sm-view {
    display: none;
}

@media (max-width: 600px) {
    .announcements {
        height: 400px;
    }

    .message-panel {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .message {
        overflow-wrap: break-word;
    }

    .md-view {
        display: none;
    }

    .sm-view {
        display: inline;
    }

    .toggle-ctrl {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

/* @media only screen and (max-width: 900px) and (min-width: 600px)  {
    .announcements {
        height: 100%!important;
    }
} */