
<div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card-panel white">
          <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea"></textarea>
                    <label for="message">Announcement message</label>
                  </div>
                </div>
              </form>
            </div>
          <div class="row">
              <div class="input-field col s6">
                  <input id="start" type="date" class="validate">
                  <label class="active" for="start">Announcement Start Date</label>
              </div>
              <div class="input-field col s6">
                  <input id="end" type="date" class="validate">
                  <label class="active" for="end">Announcement End Date</label>
              </div>
          </div>
          <a class="waves-effect waves-light btn">Submit</a>
      </div>
    </div>
  </div>