.admin-container {
    display: flex!important;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 100%;
}

.card-panel {
    height: 80%;
    margin: 16px 4px 16px 4px;
}

.admin-form {
    order: 0;
}

.admin-list {
    order: 1;
}

@media (max-width: 600px) {
    .admin-form form{
        width: 80vw;
    }
}