<div class="row admin">
    <div class="col s12">
      <div class="card-panel white">
          <div class="row">
            <div class="col s12 m4">
              <form (ngSubmit)="onUpdateMessages(announcement)" #announcement="ngForm">
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea" name="message" ngModel></textarea>
                    <label for="message">Announcement message</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input id="start" type="date" class="validate"  name="startDate" ngModel>
                    <label class="active" for="start">Announcement Start Date</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="end" type="date" class="validate" name="endDate" ngModel>
                    <label class="active" for="end">Announcement End Date</label>
                  </div>
                </div>
                <button type="submit" class="waves-effect waves-light blue blue-lighten-1 white-text btn">Submit</button>
              </form>
            </div>
            <div class="col s8 hide-on-small-only">
              <div class="row show-on-small-only">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>