.admin {
    height: 52vh;
}

.card-panel {
    height: 69vh;
    margin: 16px 4px 16px 4px;
}

@media (max-width: 900px) {
    .admin {
        height: 58vh;
    }  

    .card-panel {
        height: 55vh!important;
        margin: 16px 4px 16px 4px;
    }
}