/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #42a5f5;
}

main {
  flex: 1 0 auto;
  overflow-y: scroll;
}

a {
  outline: none;
}