<div class="home blue lighten-1">
  <div class="row">
    <div class="col l3 m6 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/images/bottles-md.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Shop<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Shop Amway Here</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Amway<i class="material-icons right">close</i></span>
              <p>Find the right product for your needs:</p>
              <ul>
                <li>Nutrition</li>
                <li>Beauty</li>
                <li>Bath &amp; Body</li>
                <li>At Home</li>
                <li>More...</li>
              </ul>
            </div>
          </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/images/coffee-md.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Coffee<i class="material-icons right">more_vert</i></span>
              <p><a href="http://www.enathan68.organogold.com">Get Coffee Here</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Organo<i class="material-icons right">close</i></span>
              <p>Change Your Coffee, Change Your Life</p>
            </div>
          </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/images/aircraft-md.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Travel<i class="material-icons right">more_vert</i></span>
              <p><a href="https://www.facebook.com/groups/1489771501076328/">Travel Club</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">westgate<i class="material-icons right">close</i></span>
              <p>Enjoy luxurious amenities and accomodations that were built with families in mind!</p>
            </div>
          </div>
    </div>
    <div class="col l3 m6 s12">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/math-md.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Tutoring<i class="material-icons right">more_vert</i></span>
            <p><a href="https://wwww.facebook.com/groups/157313331522656/?ref=bookmarks">Contact</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Easy as Pi<i class="material-icons right">close</i></span>
            <p>Elementary Through College Mathematics</p>
            <p>Getting the right angle on numeracy</p>
          </div>
        </div>
  </div>
  </div>
</div>

