.home {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  overflow-y: scroll;
}

.card {
  margin: 8px 0 8px 0;
}

.card-reveal a {
  position: absolute;
  top: 90%;
  transform: translateY(-80%);
  left: 24px;
  right: 24px;
  margin: auto;
}

.card-container {
  margin: 16px;
}

.row1 {
  margin-top: 16px;
  margin-bottom: 8px;
}

.row2 {
  margin-top: 0;
  margin-bottom: 16px;
}

div.col.s12.card-panel {
  margin: 0;
}