.home {
  margin: 0;
  min-height: 48vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  margin: 8px 0 8px 0;
}

.card-reveal a {
  position: absolute;
  top: 90%;
  transform: translateY(-80%);
  left: 24px;
  right: 24px;
  margin: auto;
}
